ENV_PATH=development
DB_TYPE=postgres
API_VERSION=v1
PORT=5001

# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
# POSTGRES_DIALECT=postgres
# POSTGRES_PASSWORD=
# POSTGRES_DB=bookit
# POSTGRES_TIMEZONE=+00:00

# POSTGRES_HOST=bookit.cn6ga22oq6ta.eu-north-1.rds.amazonaws.com
# POSTGRES_PORT=5432
# POSTGRES_DIALECT=postgres
# POSTGRES_USER=bookit
# POSTGRES_PASSWORD=VjNaXueltrELKmuC
# POSTGRES_DB=bookit
# POSTGRES_TIMEZONE=+00:00

TWILIO_ACCOUNT_SID=AC72700fd00bfbced164abff11357ac9df
TWILIO_AUTH_TOKEN=882a58dda5467404acd2e1a0ce1d9a1e
TWILIO_PHONE_NUMBER=+13194585515
TWILIO_ACCOUNT_AUTHTOKEN=882a58dda5467404acd2e1a0ce1d9a1e
 
TEST_OTP= 123456
JWT_SECRET=78d0ef0bab3cc84eb907968b316dfba646a71b24728bf6559f8e644b4ace5ab3
REFRESH_TOKEN_SECRET=78d0ef0bab3cc84eb907968b316dfba646a71b24728bf6559f8e644bq23d4s48
JWT_ACCESS_EXPIRATION_TIME=1d
JWT_REFRESH_EXPIRATION_TIME=30d
JWT_RESET_PASSWORD_EXPIRATION_TIME=1h
JWT_VERIFY_EMAIL_EXPIRATION_TIME=1h
JWT_VERIFY_PHONE_EXPIRATION_TIME=1h
JWT_VERIFY_OTP_EXPIRATION_TIME=5m
JWT_VERIFY_OTP_LENGTH=6

MAILJET_API_KEY= a4212d5912ba096763ad953118f82962
MAILJET_API_SECRET= 6aaf32bb5de81a4f8cf8da74c9ce53bd
MAILJET_EMAIL= aicha.niazy@gmail.com

BRAVO_SMTP_HOST=smtp-relay.brevo.com
BRAVO_SMTP_PORT=587
BRAVO_SMTP_SECURE=false
BRAVO_SMTP_USER=918ac3001@smtp-brevo.com
BRAVO_SMTP_PASS=NIHAysxVThzG6gWQ
BREVO_API_KEY=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
BREVO_SENDER_EMAIL=bookitgo@bookit-app.com



# ------------- vercel
# Recommended for most uses
DATABASE_URL=postgresql://neondb_owner:npg_MrCBaznx6EX1@ep-shy-lab-a29jaxd0-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_MrCBaznx6EX1@ep-shy-lab-a29jaxd0.eu-central-1.aws.neon.tech/neondb?sslmode=require

# Parameters for constructing your own connection string
PGHOST=ep-shy-lab-a29jaxd0-pooler.eu-central-1.aws.neon.tech
PGHOST_UNPOOLED=ep-shy-lab-a29jaxd0.eu-central-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_MrCBaznx6EX1

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgresql://neondb_owner:npg_MrCBaznx6EX1@ep-shy-lab-a29jaxd0-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_MrCBaznx6EX1@ep-shy-lab-a29jaxd0.eu-central-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-shy-lab-a29jaxd0-pooler.eu-central-1.aws.neon.tech
POSTGRES_PASSWORD=npg_MrCBaznx6EX1
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgresql://neondb_owner:npg_MrCBaznx6EX1@ep-shy-lab-a29jaxd0-pooler.eu-central-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_MrCBaznx6EX1@ep-shy-lab-a29jaxd0-pooler.eu-central-1.aws.neon.tech/neondb?connect_timeout=15&sslmode=require

# Neon Auth environment variables for Next.js
NEXT_PUBLIC_STACK_PROJECT_ID=546f502f-92ae-475d-9d17-68248868bbc1
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=pck_864v5dfytb7zj24gyw90hcf1kv1ws2vakfagtc1c7zthg
STACK_SECRET_SERVER_KEY=ssk_71r16xrtqj3srt9mr4z7nmbwqccan8rhjhd7etjx4z560